<form method="POST">
    <table class="table table-bordered" data-controller="order-items">
    <thead>
    <tr>
        <th class="col-md">Продукт</th>
        <th class="col-sm">Кол-во</th>
{#        <th width="150">Цена</th>#}
        <th class="col-md">Действие</th>
    </tr>
    </thead>
    <tbody data-order-items-target="list">
            {{ form_widget(form._token) }} {# CSRF токен #}

        {% for item in form.items %}
            <tr>
                <td>{{ form_widget(item.product) }}</td>
                <td>
{#                    <div class="input-group" >#}
{#                        <button class="btn btn-secondary btn-danger" type="button" id="minus">−</button>#}
                        {{ form_widget(item.quantity) }}
{#                        <input type="number" class="form-control text-center" value="1" min="1" id="quantity">#}
{#                        <button class="btn btn-secondary btn-success" type="button" id="plus">+</button>#}
{#                    </div>#}

                </td>
    {#            <td></td>#}
    {#            <td>{{ form_widget(item.price) }}</td>#}
                <td>
                    <button type="button" class="btn btn-sm btn-danger"
                            data-action="order-items#remove">×</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <button type="button"
                class="btn btn-sm btn-primary"
                data-action="order-items#add"
        >
            + Добавить позицию
        </button>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-sm btn-primary">
            {{ button_label|default('Сохранить') }}
        </button>
    </div>

</form>
