{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h3">Orders</h1>
        {% include '/order/_buttons.html.twig' %}
        <table class="table table-striped table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>
                        <input type="checkbox" id="check-all"
                               data-action="check-all">
                    </th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Order id</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" name="ids[]" value="{{ order.id }}">
                        </label>
                    </td>
                    <td>{{ order.user.name|default('noname') }}</td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.status.value }}</td>
                    <td class="text-end">
                        <a
                            href="{{ path(
                                'app_order_show',
                                {'id': order.id}
                            ) }}"
                            class="btn btn-sm btn-secondary me-1"
                        >
                            Show
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        no records found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
