{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h3">Orders</h1>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <a
                href="#" class="btn btn-danger"
                data-action="delete-selected"
            >
                - Delete selected
            </a>
            <a
{#                href="{{ path('app_order_new_bulk') }}"#}
                class="btn btn-primary"
                data-action="orders"
            >
                + Send several orders
            </a>
{#            <a#}
{#                href="{{ path('app_order_new') }}"#}
{#                class="btn btn-primary"#}
{#            >#}
{#                + Create order#}
{#            </a>#}
        </div>

        <table class="table table-striped table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>
                        <label for="check-all"></label>
                        <input type="checkbox" id="check-all"
                               data-action="check-all">
                    </th>
                    <th class="text-center">Id</th>
                    <th class="text-center">Status</th>

                    <th class="text-center">Order details</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" name="ids[]" value="{{ order.id }}">
                        </label>
                    </td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.status.value }}</td>
                    <td>
                        User: {{ order.userId }}<br>
                        {% for item in order.items%}
                            {{ item.product.name }} x {{ item.quantity }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        no records found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
